.homepage {
    background-color: @soft-black;

    // .homepage::before
    &::before {
        content: ' ';

        height: 600px;
        width: 100%;
        display: block;

        position: absolute;
        top: 0;
        left: 0;

        background: @main-gradient;
        clip-path: @background-wave;
    }

    // .homepage>*
    & > * {
        position: relative;
        z-index: @main-z-index;
    }

    // .homepage__header
    &__header {
        padding: 15px 20px 0;

        background: rgba(0, 0, 0, 0.25);
        box-shadow: inset 0 -2px 5px @black-shadow;

        @media (min-width: @small-screen-width) {
            padding-top: 20px;
        }

        @media (min-width: @large-screen-width) {
            padding: 0 2rem;
        }

        @media (min-width: @extra-large-screen-width) {
            padding: 0 3rem;
        }
    }

    // .homepage__main
    &__main {
    }

    // .homepage__footer
    &__footer {
    }

    // .homepage__svg-store
    &__svg-store {
        // .homepage__svg-store._hidden
        &._hidden {
            .hidden();
        }
    }
}
