// здесь задаем миксины, которые потом можно будет переиспользовать

.hidden() {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    clip: rect(0 0 0 0);
}

.main-width-content() {
    max-width: @max-width;
    margin: 0 auto;
    padding-left: var(--gap);
    padding-right: var(--gap);
}

.scrollbar-thick() {
    &::-webkit-scrollbar {
        width: 16px;
        height: 16px;
    }

    &::-webkit-scrollbar-thumb {
        background: #434343;
        border-radius: 16px;
        box-shadow: inset 2px 2px 2px hsla(0deg, 0%, 100%, 0.25),
            inset -2px -2px 2px rgba(0, 0, 0, 0.25);
    }

    &::-webkit-scrollbar-track {
        background: linear-gradient(90deg, #434343, #434343 1px, #111 0, #111);
    }
}

.scrollbar-thin() {
    &::-webkit-scrollbar {
        width: 10px;
        height: 10px;
    }

    &::-webkit-scrollbar-thumb {
        background: #434343;
        border-radius: 10px;
        box-shadow: inset 2px 2px 2px hsla(0deg, 0%, 100%, 0.25),
            inset -2px -2px 2px rgba(0, 0, 0, 0.25);
    }

    &::-webkit-scrollbar-track {
        background: linear-gradient(
            90deg,
            #434343,
            #434343 1px,
            #262626 0,
            #262626
        );
    }
}

.hover-transparency() {
    &:hover,
    &:focus {
        transition: opacity 0.07s;

        opacity: 0.66;
    }
}

.gradient-border() {
    &::before {
        content: '';
        background: @main-gradient;
        position: absolute;
        top: -5px;
        left: -5px;
        width: calc(100% + 10px);
        height: calc(100% + 10px);
        z-index: @main-z-index - 1;
        border-radius: 12px;
    }

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #000;
        z-index: @main-z-index;
        border-radius: 8px;
    }
}
